<template>
  <div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="todo">To do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="dangky">Register</a>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  data: function () {
    return {
      message: "Some Message",
    }
  }
};
</script>