M<<template>
    <div class="container">
        <div class="row">
            <div class="col-sm">
        <form method="POST" action="/">
        <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Re-enter Password</label>
            <input type="password" class="form-control" id="exampleInputPassword11">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        </div>
    </div>
</template>
<script>
export default {};
</script>