<template>
  <div class="jumbotron">
    <h1 class="display-4">To do</h1>
    <div class="input-group input-group-lg">
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg"
        v-model="newTodo"
        @keyup.enter="addTodo()"
      />
    </div>
    <hr class="my-4" />
    <div>
      <ul class="list-group">
        <li
          class="list-group-item"
          v-for="(todo, key) in todos"
          v-bind:key="key"
        >
          {{ todo.text }}
          <button
            type="button"
            class="close"
            aria-label="Close"
            @click="removeTodo(todo)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      todos: [{ text: "" }],
      newTodo: "",
    };
  },
  methods: {
    addTodo: function () {
      var value = this.newTodo && this.newTodo.trim();
      if (!value) {
        return;
      }
      this.todos.push({
        text: value,
      });
      this.newTodo = "";
    },
    removeTodo: function (todo) {
      this.todos.splice(this.todos.indexOf(todo), 1);
    },
  },
};
</script>